
@media (max-width:670px ) {
.header-logo{
  text-align: center;
  margin:0 auto;
}
.top-wrapper{
margin:30px 0px;
}

.top-wrapper h1{
 font-size: 23px;
}
.top-wrapper h2{
  font-size: 19px;
}
.fa.menu-icon{
  display: block;
  text-align: center;
}
.header-list ul{
  display: none;
}
footer ul{
  display:none;
}
a{
  font-size: 18px;
}
.image{
  background-size: cover;
  height: 250px;
}

}

@media(min-width:670px ){
  .sp{
    display: none;
  }
}
