/*.container{
  width:1700px ;
  margin: 0 auto;
}*/
a{
  text-decoration: none;
}
body a:hover{
  color:  blue;

}
body{
  background-color: black;
  color: white;
}
.clear{
  clear:left;
}

.header{
  height:90px;
  border-bottom: 1px solid gray;
  /*background-color:whitesmoke;
  color: black;-->*/

}
.header-logo{
  float:left;
  font-size: 36px;
  line-height: 90px;
  padding:0px 40px;
}
.header-list a{
  color: white;
  display: block;
  text-decoration: none;
}
.header-list li{
  float:left;
  line-height: 90px;
  padding-right: 30px;
  font-size: 19px;
  font-weight: bold;
}
li{
 list-style: none;
}

.main{
  padding: 100px 80px
}
.copy-container h1{
  font-size: 140px;
}

.copy-container h2{
  font-size: 55px;
}
.contents{
  margin: 100px  0 ;
  padding: 10px 0;
}
.section-title{
  font-size: 28px;
  pointer-events: none;
}

.contents-item{
  float:left;
  margin-right: 100px;
}
.contents-item a{
  color: dimgray;
  font-size: 24px;
  display: block;
}
.link{
  margin: 100px 0px;
  padding: 10px 0;
  display: block;
}
.contents-link{
  display: inline-block;
  margin-right: 100px;
  color: gray;
  font-size: 24px
}
.link h3{
  font-size: 28px;
  margin-top: 50px;
}
.contact-form{
  margin-top: 100px;
}
.contact-submit{
  background-color: dimgray;
}

input,textarea{

  padding:20px;
  width: 400px;
  font-size: 18px;
}

footer{
  height:120px;
  border-top: 1px solid gray;
  /*color:black;
  background-color: white;
  padding: 40px;*/
}
.footer-logo{
  float: left;
  font-size: 36px;
  padding: 35px 40px;
}
.footer-list {
  float: right;
}
.footer-list a{
  color: white;
  display: block;
  text-decoration: none;
}
.footer-list li{
  font-size: 19px;
  font-weight: bold;
  line-height: 40px;
  padding-right: 60px ;
}
