*{
  box-sizing: border-box;
}

body{
text-align: center;
margin: 0 auto;
}
a{
  text-decoration:none ;
  border-radius: 10px;
  font-weight: bold;
}
.header-list a:hover, footer a:hover{
  background-color: rgba(255,255,255,0.5);
}
.fa.menu-icon {
  color: white;
  font-size: 30px;
  padding-top: 20px;
  display: none;
}
.lesson-wrapper a:hover,.sites a:hover,.sns a:hover{
  opacity:0.7 ;
}
li{
  list-style: none;
  font-weight: bold;
}
.image{
  background-image: url("svg_f_business_30_0bg.svg");
  background-repeat: no-repeat;
  background-position: center ;
  height: 480px;
  width: 100%;
}
.header-logo{
  height: 70px;
  line-height: 70px;
  font-size: 30px;
  text-align: left;
  margin-left: 100px;
}
.header-list{
  height:70px;
  background-color: black;
  color: white;
}
header li{
  line-height: 70px;
  display: inline-block;
  margin:0 15px;
}
.clear{
  float: both;
}
header a{
  color: white;
}
{

}

.top-wrapper,.lesson-wrapper,.sites,.sns,.message-wrapper {
  margin: 80px 0;
}
.top-wrapper h3,.lesson-wrapper h3,.sites h3,.sns h3,.message-wrapper h3{
margin-bottom: 20px;
}
.lesson-wrapper p,.sites p,.sns p{
  margin:  50px auto;
}
.top-wrapper h1{
  font-size: 30px;
}
.lesson-wrapper a{
  display: block;
  background-color: gainsboro;
  color:black ;
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin: auto;
}
.site {
  display: block;
  background-color: gainsboro;
  color: black;
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin: auto;
}
.twitter{
  display: block;
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin: auto;
  background-color: #55acee;
  color: white;
}
.youtube{
  display: block;
  width: 150px;
  height: 150px;
  line-height: 150px;
  margin: auto;
  background-color: red;
  color: white;
}
input{
  display: block;
  margin: auto;
}
.submit{
  margin-top: 15px;
  margin-bottom: 15px;
}

footer{
  height:70px;
  background-color: black;
  color: white;
}
footer a{
  color: white;
}
footer li{
  display: inline-block;
  line-height: 70px;
  margin: 0 15px;
}
